/* Style the body */
body {
    background-color: #222;
    color: #333;
    font-family: 'Open Sans', sans-serif; /* Custom font */
    margin: 0;
    padding: 0;
    }
    
    /* Style the navigation bar */
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    }
    
    /* Style the links inside the navigation bar */
    li {
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    padding: 10px;
    background-color: #111;
    }
    
    /* Change the link color to white and add some padding */
    li a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    }
    
    /* Add a hover effect to the links */
    li:hover {
    background-color: #444;
    transition: background-color 0.5s ease;
    }

/* Style the image */
.nav-image {
height: 3vw;
margin: 5px;
}

/* Style the h1 tag */
.head10 {
background: linear-gradient(to right, #000, #111);
color: #222;
text-align: center;
font-size: 5vw;
font-weight: bold;
color: #87ff87;
margin: 0;
padding: 10px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 10px;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
white-space: nowrap;
overflow: hidden;
z-index: 1;
}
/* Define the animation for #CLASS1 */
@keyframes fadeInLetters {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Apply the animation to #CLASS1 */
  #CLASS10 {
    white-space: nowrap;
    overflow: hidden;
    animation: fadeInLetters 1.5s ease-in-out both;
  }
  

  #logoutbutton {
    background: none;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
  }
  #logoutbutton:hover {
    background-color: #444;
    transition: background-color 0.5s ease;
  }
  
  


  table {
    position: absolute;
    left:23%;
    top:40%;
    border: 2px solid black; /* adds outline border and changes border color */
    border-radius: 10px; /* adds border radius */
  }
  
  th, td {
    background-color: #1c1b1b;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color:lime;
  }
  
  th {
    background-color: #000000;
    color: white;
  }
  .but {
    color:lime;
  }
  .but:hover{
    color:blue;
  }
  
  .head5 {
    /* background: linear-gradient(to right, #000, #111); */
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    }
